img#tbox{
position: absolute;
width: 38px;
height: 47.5px;
left: 112px;
top: 16px;
}
h2#thebox{
position: absolute;
width: 111px;
height: 35px;
left: 164px;
margin-top: 22px;
font-family: 'Work Sans';
font-style: italic;
font-weight: 700;
font-size: 30px;
line-height: 35px;
color: #2947A9;
}
a#hm{
width: 52px;
height: 21px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #14171F;
flex: none;
text-decoration: none;
padding-right: 50px;
}
a#abt{
width: 81px;
height: 21px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #14171F;
flex: none;
text-decoration: none;
padding-right: 50px;
}
a#ps{
width: 72px;
height: 21px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #14171F;
flex: none;
text-decoration: none;
padding-right: 50px;
}
a#sr{
width: 74px;
height: 21px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #14171F;
flex: none;
text-decoration: none;
padding-right: 50px;
}
a#cu{
width: 98px;
height: 21px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 21px;
color: #F9995D;
flex: none;
text-decoration: none;
}
div#class{
    margin-left: 805px;
    margin-top: 22px;
   
}
nav#nav{
position: absolute;
height: 80px;
left: 0px;
right: 0px;
top: 0px;
background: #FFFFFF;
display:inline-block;
}
img#hero{
position: absolute;
height: 646px;
width: 100%;
left: 0px;
right: 0px;
top: 70px;
background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 16.58%, rgba(255, 255, 255, 0) 72.38%), url(.jpeg);

}
div#feat{
    position: absolute;
    width: 416px;
    height: 147px;
    left: 1047px;
    top: 530px;  
    background: #3559C7;
    border-radius: 2px 2px 0px 0px;
    align-items: center;
    
}
button#back{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 20px;
    position: absolute;
    width: 208px;
    height: 40px;
    right: 207px;
    bottom: -40px;
    background: #292E3D;
   color:white;
}
button#next{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 20px;
position: absolute;
width: 207px;
height: 40px;
right: 0px;
bottom: -40px;
background: #292E3D;
color: white;
}
/* div#project{
display: flex;
flex-direction: column;
align-items: center;
/* padding: 20px 10px 10px; */
/* position: absolute;
width: 416px;
height: 150px;
right: -36px;
bottom: -70px;
background: #3559C7;
border-radius: 2px 2px 0px 0px;
} */ 
h4#title{
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #FFFFFF;
}
p#uni{
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
text-align: center;
color:#FFFFFF; 
}
p#things{
position: absolute;
width: 556px;
height: 168px;
left: 196px;
top: 262px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 72px;
line-height: 84px;
color: #292E3D;
}
img#arrowb{
    padding-right: 10px;
}
img#arrown{
    padding-left: 10px;
}
h2#h2{
position: absolute;
height: 42px;
left: 584px;
right: 585px;
top: 750px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
color: #292E3D;

}
img#icon1{
position: absolute;
left: 4.17%;
right: 4.17%;
top: 4.17%;
bottom: 4.17%;
}
img#icon2{
position: absolute;
left: 4.17%;
right: 4.17%;
top: 4.17%;
bottom: 4.17%;
}
img#icon3{
position: absolute;
left: 4.17%;
right: 4.17%;
top: 4.17%;
bottom: 4.17%;
}
p#nullam{
position:absolute;
width: 254px;
height: 38px;
top: 105px;
left:10px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #858EAD;
}
p#cursus{
position:absolute;
width: 254px;
height: 38px;
top: 105px;
left:10px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #858EAD;
}
p#ipsum{
position:absolute;
width: 254px;
height: 38px;
top: 105px;
left:10px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #858EAD;
}
h3#bestservices{
position: absolute;
top:50px;
left:10px;
width: 135px;
height: 23px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
color: #3D445C;
}
h3#bestteams{
position: absolute;
top:50px;
left:10px;
width: 135px;
height: 23px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
color: #3D445C;
}
h3#bestdesigns{
    position: absolute;
    top:50px;
    left:10px;
    width: 135px;
    height: 23px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #3D445C;
    }
div.box{
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 20px 20px 40px;
position: absolute;
width: 292px;
height: 197px;
left: 216px;
top: 890px;
background: #FFFFFF;
border: 1.4px solid #E0E3EB;
border-radius: 4px;
}
div.box2{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 20px 40px;
    position: absolute;
    width: 292px;
    height: 197px;
    left: 575px;
    top: 890px;
    background: #FFFFFF;
    border: 1.4px solid #E0E3EB;
    border-radius: 4px;
}
div.box3{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 20px 40px;
    position: absolute;
    width: 292px;
    height: 197px;
    left: 935px;
    top: 890px;
    background: #FFFFFF;
    border: 1.4px solid #E0E3EB;
    border-radius: 4px;
}
div#secondpage{
position: absolute;
height: 945px;
width: 100%;
left: 0px;
right: 0px;
top: 1159px;
background: #FFFFFF;
}
img#man{
position: absolute;
width: 902px;
height: 669px;
left: calc(50% - 902px/2 - 155px);
top: calc(50% - 669px/2 - 64px);
/* background: url(.jpg);
box-shadow: 0px 20px 24px -4px rgba(17, 24, 39, 0.1), 0px 8px 8px -4px rgba(17, 24, 39, 0.04);
border-radius: 2px; */
}
h3#info{
    position: absolute;
width: 159px;
height: 42px;
left: 40px;
top: 50px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
color: #FFFFFF;
}
p#exp{
position: absolute;
width: 388px;
height: 207px;
left: 40px;
top: 129px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
color: #FFFFFF;
}
p#exp2{
    position: absolute;
    width: 388px;
    height: 207px;
    left: 40px;
    top: 230px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    }
button#work{
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 20px;
gap: 10px;
position: absolute;
width: 219px;
height: 53px;
left: 40px;
top: 410px;
background: #FFFFFF;
border: 2px solid #2947A9;
border-radius: 6px;
}
p#more{
width: 179px;
height: 21px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #2947A9;
}
div#about{
position: absolute;
width: 488px;
height: 523px;
left: calc(50% - 488px/2 + 364px);
top: 147px;
background: #2947A9;
box-shadow: 0px 20px 24px -4px rgba(17, 24, 39, 0.1), 0px 8px 8px -4px rgba(17, 24, 39, 0.04);
border-radius: 2px;
}
div#thirdpage{
position: absolute;
height: 608px;
left: 0px;
right: 0px;
top: 2050px;
background: #F6F8F7;
}
h3#works{
position: absolute;
height: 42px;
left: 644px;
right: 645px;
top:3px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
color: #292E3D;
}
div#white{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
gap: 20px;
position: absolute;
width: 271px;
height: 181px;
left: 216px;
top: 95px;
background: #FFFFFF;
box-shadow: 0px 0px 37px -2px rgba(17, 24, 39, 0.05);
border-radius: 4px;
}
div#blue{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
gap: 20px;
position: absolute;
width: 271px;
height: 181px;
left: 585px;
top: 95px;
background: #2947A9;
box-shadow: 0px 0px 37px -2px rgba(17, 24, 39, 0.05);
border-radius: 4px;
}
div#white2{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
gap: 20px;
position: absolute;
width: 270px;
height: 181px;
left: 954px;
top: 95px;
background: #FFFFFF;
box-shadow: 0px 0px 37px -2px rgba(17, 24, 39, 0.05);
border-radius: 4px;
}
div#blue2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    position: absolute;
    width: 271px;
    height: 181px;
    left: 216px;
    top: 350px;
    background: #2947A9;
    box-shadow: 0px 0px 37px -2px rgba(17, 24, 39, 0.05);
    border-radius: 4px;
}
div#white3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    position: absolute;
    width: 271px;
    height: 181px;
    left: 585px;
    top: 350px;
    background: #FFFFFF;
    box-shadow: 0px 0px 37px -2px rgba(17, 24, 39, 0.05);
    border-radius: 4px;
}
div#blue3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    position: absolute;
    width: 270px;
    height: 181px;
    left: 954px;
    top: 350px;  
    background: #2947A9;
    box-shadow: 0px 0px 37px -2px rgba(17, 24, 39, 0.05);
    border-radius: 4px;
}
h4#build{
width: 128px;
height: 23px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #2947A9;
}
h4#renovate{
width: 110px;
height: 23px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #FFFFFF;
}
h4#consult{
width: 126px;
height: 23px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #2947A9;
}
h4#repair{
width: 152px;
height: 23px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #FFFFFF;
}
h4#draw{
width: 124px;
height: 23px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #2947A9;

}
h4#power{
width: 76px;
height: 23px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #FFFFFF;
}
div#years{
position: absolute;
height: 723px;
left: 0px;
right: 0px;
top: 2712px;
background: #FFFFFF;
}
div#happy{
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 30px;
gap: 2px;
position: absolute;
width: 280px;
height: 155px;
left: calc(50% - 280px/2 - 68px);
top: 122px;
background: #FFFFFF;
border: 1px solid #FFFFFF;
box-shadow: 0px 12px 16px -4px rgba(17, 24, 39, 0.1), 0px 4px 6px -2px rgba(17, 24, 39, 0.05);
border-radius: 4px;
}
div#complete{
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    gap: 2px;
    
    position: absolute;
    width: 361px;
    height: 155px;
    left: calc(50% - 361px/2 - 327.5px);
    top: 221px;
    
    background: #FFFFFF;
    /* Neutral/White */
    
    border: 1px solid #FFFFFF;
    /* Shadow 2 */
    
    box-shadow: 0px 12px 16px -4px rgba(17, 24, 39, 0.1), 0px 4px 6px -2px rgba(17, 24, 39, 0.05);
    border-radius: 4px;
}
div#awards{
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 30px;
gap: 2px;
position: absolute;
width: 276px;
height: 155px;
left: calc(50% - 276px/2 - 124px);
top: 364px;
background: #FFFFFF;
border: 1px solid #FFFFFF;
box-shadow: 0px 12px 16px -4px rgba(17, 24, 39, 0.1), 0px 4px 6px -2px rgba(17, 24, 39, 0.05);
border-radius: 4px;
}
div#business{
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 30px;
gap: 2px;
position: absolute;
width: 333px;
height: 155px;
left: calc(50% - 333px/2 - 292.5px);
top: 469px;
background: #FFFFFF;
border: 1px solid #FFFFFF;
box-shadow: 0px 12px 16px -4px rgba(17, 24, 39, 0.1), 0px 4px 6px -2px rgba(17, 24, 39, 0.05);
border-radius: 4px;
}
h2#84{
width: 115px;
height: 65px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 72px;
line-height: 84px;
display: flex;
align-items: flex-end;
color: #292E3D;
}
h2#123{
width: 115px;
height: 65px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 72px;
line-height: 84px;
display: flex;
align-items: flex-end;
text-align: center;
color: #292E3D;
}
h2#37{
width: 115px;
height: 65px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 72px;
line-height: 84px;
display: flex;
align-items: flex-end;
color: #292E3D;
}
h2#30{
width: 115px;
height: 65px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 72px;
line-height: 84px;
display: flex;
align-items: flex-end;
color: #292E3D;
}
img#hands{
position: absolute;
width: 97px;
height: 97px;
left: calc(50% - 97px/2 + 51.5px);
top: 103px;
background: url(image.png);
}