img#tbox{
position: absolute;
width: 38px;
height: 47.5px;
left: 112px;
top: 16px;
}
h2#thebox{
position: absolute;
width: 111px;
height: 35px;
left: 164px;
margin-top: 22px;
font-family: 'Work Sans';
font-style: italic;
font-weight: 700;
font-size: 30px;
line-height: 35px;
color: #2947A9;
}
a#hm{
width: 52px;
height: 21px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #14171F;
flex: none;
text-decoration: none;
padding-right: 50px;
}
a#abt{
width: 81px;
height: 21px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #14171F;
flex: none;
text-decoration: none;
padding-right: 50px;
}
a#ps{
width: 72px;
height: 21px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #14171F;
flex: none;
text-decoration: none;
padding-right: 50px;
}
a#sr{
width: 74px;
height: 21px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #14171F;
flex: none;
text-decoration: none;
padding-right: 50px;
}
a#cu{
width: 98px;
height: 21px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 21px;
color: #F9995D;
flex: none;
text-decoration: none;
}
div#class{
    margin-left: 805px;
    margin-top: 22px;
   
}
nav#nav{
position: absolute;
height: 80px;
left: 0px;
right: 0px;
top: 0px;
background: #FFFFFF;
display:inline-block;
}
div#img{
    
/* background-image: url("./images/crop.jpeg");
position: absolute;
height: 646px;
width: 1440px;
left: 0px;
right: 0px;
top: 70px;
background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 16.58%, rgba(255, 255, 255, 0) 72.38%), url(.jpeg);
        */
}
img#hero{
position: absolute;
height: 646px;
width: 100%;
left: 0px;
right: 0px;
top: 70px;
background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 16.58%, rgba(255, 255, 255, 0) 72.38%), url(.jpeg);

}
div#feat{
    position: absolute;
    width: 416px;
    height: 147px;
    left: 1060px;
    top: 530px;  
    background: #3559C7;
    border-radius: 2px 2px 0px 0px;
    align-items: center;
    
}
button#back{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 20px;
    position: absolute;
    width: 208px;
    height: 40px;
    right: 207px;
    bottom: -40px;
    background: #292E3D;
   color:white;
}
button#next{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 20px;
position: absolute;
width: 207px;
height: 40px;
right: 0px;
bottom: -40px;
background: #292E3D;
color: white;
}
/* div#project{
display: flex;
flex-direction: column;
align-items: center;
/* padding: 20px 10px 10px; */
/* position: absolute;
width: 416px;
height: 150px;
right: -36px;
bottom: -70px;
background: #3559C7;
border-radius: 2px 2px 0px 0px;
} */ 
h4#title{
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #FFFFFF;
}
p#uni{
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
text-align: center;
color:#FFFFFF; 
}
p#things{
position: absolute;
width: 556px;
height: 168px;
left: 196px;
top: 262px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 72px;
line-height: 84px;
color: #292E3D;
}
img#arrowb{
    padding-right: 10px;
}
img#arrown{
    padding-left: 10px;
}
h2#h2{
position: absolute;
height: 42px;
left: 584px;
right: 585px;
top: 775px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
color: #292E3D;
}
div.box{
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 20px 20px 40px;
position: absolute;
width: 292px;
height: 197px;
left: 216px;
top: 850px;
background: #FFFFFF;
border: 1.4px solid #E0E3EB;
border-radius: 4px;
}
div.box2{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 20px 40px;
    position: absolute;
    width: 292px;
    height: 197px;
    left: 575px;
    top: 850px;
    background: #FFFFFF;
    border: 1.4px solid #E0E3EB;
    border-radius: 4px;
}
div.box3{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 20px 40px;
    position: absolute;
    width: 292px;
    height: 197px;
    left: 935px;
    top: 850px;
    background: #FFFFFF;
    border: 1.4px solid #E0E3EB;
    border-radius: 4px;
}